<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto World</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="./css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="./css/Style.css">


</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="index" class="text-gray">Crypto World</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items" id="navList">
                    <li class="nav-link">
                        <a href="index">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="about">About Us</a>
                    </li>
                    <li class="nav-link">
                        <a href="services">Service</a>
                    </li>
                    <li class="nav-link">
                        <a href="privacy">Privacy Policy</a>
                    </li>
                    <li class="nav-link">
                        <a href="contact">Contact Us</a>
                        <span id="loged" class=<%=name%>></span>
                    </li>
                    <li class="nav-link">
                        <!-- <a href="signup" class="updateUser">Signin/Login</a> -->
                    </li>

                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"></a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"></a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                <a href="#"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>

    <main>

        <!------------------------ Site Title ---------------------->
        <section class="site-title">
            <div class="site-background" >
                <h1 style="font-size: 50px;">Crypto World Blog </h1>
                <h3 style="font-size: 30px;">Know all latest updates related to Cryptocurrency, Blockchain...</h3>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->

        <!-- --------------------- Blog Carousel ----------------- -->

        <section>
            <div class="blog">
                <div class="container">

<div class="container2" id="container2">
  <div class="caption2" id="slider-caption2">
    <div class="caption-heading2">
      <h1 class="crousalheadingone">Recent Post</h1>
    </div>
    <div class="caption-subhead2"><span>According to data published by Whale Alert,

    </span></div><a class="btn2" href="#2">the transaction took place around 9:30 PM (IST) on Monday. At that time, Ethereum price was around Rs 1.36 lakh. However, in the past 24 hours, the crypto coin has gained more than 6 percent in value, showed Coinbase data.</a>
  </div>
  <div class="left-col2" id="left-col2">
    <div id="left-slider2"></div>
  </div>
  <ul class="nav2">
    <li class="slide-up2"> <a href="#"></a></li>
    <li class="slide-down2"> <a id="down_button2" href="#">></a></li>
  </ul>
</div>
                    
  </div>
            </div>
        </section>


        <!-- ----------x---------- Blog Carousel --------x-------- -->

        <!-- ---------------------- Site Content -------------------------->

        <section class="container">
            <div class="site-content">
                <div class="posts">
                    <div class="post-content">
                        <div class="post-image">
                            <div>
                                <img src="./assets/Blog-post/Container1.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>

                        <div class="post-title">
                            <a href="#">Bitcoin drops back below $30,000, heads toward new low for the year</a>
                            <p id="lang">The price of bitcoin dropped below $30,000 late Monday night for the first time since Jun. 22, dragging other digital coins lower with it.

                                Bitcoin is trading in the $29,000 range, about 3% lower on the day, according to Coin Metrics. Ether is down 1.25% and XRP fell 4%.<span id="dots">...</span><span id="more">
                                    Even with the plunge bitcoin is up 2.3% for the year, according to CoinDesk data. Ether and XRP are both up about 140% for the year.The plunge came amid news that the New Jersey Attorney General issued a Cease and Desist Order against the New Jersey-based crypto services firm BlockFi, ordering it to stop offering interest-bearing accounts, according to Forbes and later confirmed on Twitter by the company CEO.
                                    It also came after a big sell-off in global stock markets Monday, when the Dow Jones Industrial Average had its worst day since last October, though the markets reclaimed much of their losses Tuesday.
                                    “There’s been a broad sell-off in global markets, risk assets are down across the board,” Annabelle Huang, partner at cryptocurrency financial services firm Amber Group, said.
                                    There are “concerns of the quality and strength of economic recovery” and “broader risk assets turned weaker including high yields,” Huang said. “Coupled with recent BTC (bitcoin) weakness, this just sent crypto market down further.”</span>
                            </p>
                            <button  class="btn post-btn" onclick="myFunction()" id="myBtn">Read More &nbsp;</button>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content">
                    <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200"> -->
                        <div class="post-image">
                            <div>
                                <img src="./assets/Blog-post/Container2.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16, 2019</span>
                                <span>7 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Cryptocurrency market loses nearly $100 billion after Bitcoin tanks</a>
                            <p id="lang">The cryptocurrency market lost around $98 billion after Bitcoin plunged to below $30,000 for the first time in four weeks. The tumble in Bitcoin's price came after a sell-off in global markets, sparked by a surge in COVID-19 infections. The Dow Jones Industrial Average fell 2.1 percent on July 19, its worst day since October 2020.<span id="dots2">...</span><span id="more2">
                                The cryptocurrency market lost around $98 billion after bitcoin plunged to below $30,000 for the first time in four weeks.

                                The global cryptocurrency market capitalisation declined to $1.2 trillion, a fall of over percent in the past 24 hours, data from CoinMarketCap shows.
                                
                                Bitcoin, the world's largest cryptocurrency by market capitalisation, was trading at slightly above $29,600, over 6 percent lower than the previous day.
                                
                                Ether and dogecoin were down more than 8 percent, while binance tanked more than 12 percent.</span>
                            </p>
                            <button  class="btn post-btn" onclick="myFunction2()" id="myBtn2">Read More &nbsp;</button>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content">
                    <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200"> -->
                        <div class="post-image">
                            <div>
                                <img src="./assets/Blog-post/Container3.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 19, 2019</span>
                                <span>5 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Bulk Deals | Reliance Retail Ventures picks 21% stake in Just Dial, Lighthouse offloads 4.5% shares in Stylam</a>
                            <p id="lang">Reliance Retail Ventures, the subsidiary of Reliance Industries, acquired 20.97 percent equity stake in local search engine Just Dial on July 20.

                                Reliance Retail Ventures bought 1,30,61,163 equity shares in Just Dial (or 20.97 percent of total paid up equity) at Rs 1,020 per share on the BSE, the bulk deals data showed.
                                
                                Promoter Venkatachalam Sthanu Subra Mani was the seller in this deal, selling same number of shares at a same price.<span id="dots3">...</span><span id="more3">On July 16, Reliance Retail Ventures announced acquisition of controlling stake in Just Dial for Rs 3,497 crore. It will hold 40.95% stake in Just Dial and made an open offer to acquire upto 26 percent.

                                    Among other deals, Sirius Advisors acquired 5 lakh equity shares in Jump Networks at Rs 11.59 per share on the BSE.</span>
                            </p>
                            <button  class="btn post-btn" onclick="myFunction3()" id="myBtn3">Read More &nbsp;</button>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content">
                    <!-- <div class="post-content" data-aos="zoom-in" data-aos-delay="200"> -->
                        <div class="post-image">
                            <div>
                                <img src="./assets/Blog-post/Container4.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                                <span>12 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Ethereum Whale Account Transacts 100,000 ETH Coins Amid Price Dip</a>
                            <p id="lang">Ethereum, the world's second-largest cryptocurrency, has fallen sharply in price over the last few days. Amid the dip, an ETH whale has transferred a significant amount to an unknown wallet. The value of the transaction <span id="dots4">...</span><span id="more4">100,000 ETH coins, around $181 million (roughly Rs. 13,500 crores) — was highlighted by Whale Alert, a blockchain tracker and analytics company. Hours after the transaction, Ethereum has been showing an upward trend, gaining more than 6 percent in just 24 hours. Given the positive market trend, the person who bought the digital coins stands to benefit hugely from the transaction.

                                In the world of finance, a “whale” is an entity with enough power to impact the market of an asset by triggering massive transactions. However, the main issue with whale accounts is that they often accumulate billions worth of digital coins, allowing them the capability to influence the cryptocurrency market single-handedly.</span>
                            </p>
                            <button  class="btn post-btn" onclick="myFunction4()" id="myBtn4">Read More &nbsp;</button>
                        </div>
                    </div>
                    <div class="pagination flex-row">
                        <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>



                        <!-- {{!-- Payment option --}}
                             {{!-- <button id="rzp-button1">Pay</button> --}} -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_gePcKtlYQWsRfg", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_HZXCsdFo0VCbGH", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>




                        <!-- {{!-- Payment option --}} -->
                        <a href="#" class="pages">1</a>
                        <a href="#" class="pages">2</a>
                        <a href="#" class="pages">3</a>
                        <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            <li class="list-items">
                            <!-- <li class="list-items" data-aos="fade-left" data-aos-delay="100"> -->
                                <a href="#">Stablecoins</a>
                                <span>(67)</span>
                            </li>
                            <li class="list-items">
                            <!-- <li class="list-items" data-aos="fade-left" data-aos-delay="200"> -->
                                <a href="#">Exchange-based Tokens</a>
                                <span>(225)</span>
                            </li>
                            <li class="list-items">
                            <!-- <li class="list-items" data-aos="fade-left" data-aos-delay="300"> -->
                                <a href="#">Decentralized Finance (DeFi)</a>
                                <span>(336)</span>
                            </li>
                            <li class="list-items">
                            <!-- <li class="list-items" data-aos="fade-left" data-aos-delay="400"> -->
                                <a href="#">Binance Smart Chain Ecosystem</a>
                                <span>(147)</span>
                            </li>
                            <li class="list-items">
                            <!-- <li class="list-items" data-aos="fade-left" data-aos-delay="500"> -->
                                <a href="#">Centralized Exchange Token (CEX)</a>
                                <span>(55)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="popular-post">
                        <h2>Popular Post</h2>
                        <div class="post-content">
                        <!-- <div class="post-content" data-aos="flip-up" data-aos-delay="200"> -->
                            <div class="post-image">
                                <div>
                                    <!-- <img src="./assets/popular-post/m-blog-1.jpg" class="img" alt="blog1"> -->
                                    <img src="./assets/popular-post/popular1.jpeg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content">
                        <!-- <div class="post-content" data-aos="flip-up" data-aos-delay="300"> -->
                            <div class="post-image">
                                <div>
                                    <!-- <img src="./assets/popular-post/m-blog-2.jpg" class="img" alt="blog1"> -->
                                    <img src="./assets/popular-post/popular2.jpeg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content">
                        <!-- <div class="post-content" data-aos="flip-up" data-aos-delay="400"> -->
                            <div class="post-image">
                                <div>
                                    <img src="./assets/popular-post/popular3.jpeg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content">
                        <!-- <div class="post-content" data-aos="flip-up" data-aos-delay="500"> -->
                            <div class="post-image">
                                <div>
                                    <!-- <img src="./assets/popular-post/m-blog-4.jpg" class="img" alt="blog1"> -->
                                    <img src="./assets/popular-post/popular4.jpeg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content">
                        <!-- <div class="post-content" data-aos="flip-up" data-aos-delay="600"> -->
                            <div class="post-image">
                                <div>
                                    <!-- <img src="./assets/popular-post/m-blog-5.jpg" class="img" alt="blog1"> -->
                                    <img src="./assets/popular-post/popular5.jpeg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2019</span>
                                    <span>2 Commets</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="newsletter" data-aos="fade-up" data-aos-delay="300"> -->
                    <div class="newsletter">
                        <h2>Newsletter</h2>
                        <form class="form-element" id="subDone">
                            <input type="text" class="input-element" placeholder="Email" name="email" id="email" required>
                            <button class="btn form-btn"  onclick="subscribe()" >Subscribe</button>
                        </form>
                    </div>
                    <div class="popular-tags">
                        <h2>Popular Tags</h2>
                        <div class="tags flex-row">
                            <!-- <span class="tag" data-aos="flip-up" data-aos-delay="100">crypto</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="200">bitcoin</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="300">cryptocurrency</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="400">blockchain</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="500">ethereum</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="600">btc</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="700">money</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="800">forex</span> -->
                            <span class="tag">crypto</span>
                            <span class="tag">bitcoin</span>
                            <span class="tag">cryptocurrency</span>
                            <span class="tag">blockchain</span>
                            <span class="tag">ethereum</span>
                            <span class="tag">btc</span>
                            <span class="tag">money</span>
                            <span class="tag">forex</span>
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->


    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" >
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" >
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <form class="form-element" method="POST" action="subscribe">
                    <input type="text" class="input-element" placeholder="Email" name="email" id="email" required>
                    <button class="btn form-btn">Subscribe</button>
                </form>
            </div>
            <div class="instagram" >
                <h2>Instagram</h2>
                <div class="flex-row">
                    <!-- <img src="./assets/instagram/thumb-card3.png" alt="insta1"> -->
                    <!-- <img src="./assets/instagram/thumb-card3.png" alt="insta1"> -->
                    <!-- <img src="./assets/instagram/thumb-card4.png" alt="insta2"> -->
                    <img src="./assets/instagram/insta1.jpg" alt="insta3">
                    <img src="./assets/instagram/insta2.jpg" alt="insta3">
                    <img src="./assets/instagram/insta3.jpg" alt="insta3">
                </div>
                <div class="flex-row">
                    <!-- <img src="./assets/instagram/thumb-card6.png" alt="insta4"> -->
                    <!-- <img src="./assets/instagram/thumb-card7.png" alt="insta5"> -->
                    <!-- <img src="./assets/instagram/thumb-card8.png" alt="insta6"> -->
                    <img src="./assets/instagram/insta4.jpg" alt="insta6">
                </div>
            </div>
            <div class="follow" >
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <a href="#"></a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"></a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                    <a href="#"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true"></i></span>
        </div>
    </footer>


    <script>
        //Subscribe Function
        function subscribe(){
            document.getElementById('subDone').method = "POST";
            document.getElementById('subDone').action = "subscribe";

        }

        // signin -------------login-------
        const el = document.getElementById('loged');
        const list = document.getElementById('navList');
        let items = list.childNodes;
        let i;
        for (i = 0, size = items.length-1; i < size-1; i++) {
            }
        if(el.className==="sign"){
            items[i].innerHTML = "<a href='signup'>Signin/Login</a>";
            // items[i].classList.remove('updatedParent');

        }else{
            items[i].innerHTML = "👤<%=user%> <span class='logged' onclick='logout()' style='padding:12px'><a href='#' style='color:black' >Logout</a></span>"
            items[i].classList.add('updatedParent');
            
        }

        function logout(){
            items[i].innerHTML = "<a href='signup'>Signin/Login</a>";
            items[i].classList.remove('updatedParent');
        }
//      SignUp---------------


        function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
      moreText.style.fontFamily = "Lexend";
    }
  }
   function myFunction2() {
    var dots = document.getElementById("dots2");
    var moreText = document.getElementById("more2");
    var btnText = document.getElementById("myBtn2");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
      moreText.style.fontFamily = "Lexend";
    }
  }

  function myFunction3() {
    var dots = document.getElementById("dots3");
    var moreText = document.getElementById("more3");
    var btnText = document.getElementById("myBtn3");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
      moreText.style.fontFamily = "Lexend";
    }
  }

  function myFunction4() {
    var dots = document.getElementById("dots4");
    var moreText = document.getElementById("more4");
    var btnText = document.getElementById("myBtn4");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
      moreText.style.fontFamily = "Lexend";
    }
  }

let slide_data = [
  {

    'src':'https://source.unsplash.com/1600x900/?cryptocurrencies,bitcoin,trading',      
    'title':'An Introduction to Cryptocurrency.',
    'copy':''
  },
  {
    'src':'https://source.unsplash.com/1600x900/?cryptocurrencies,coin,finance', 
    'title':'Cryptocurrency & Legal Ethics',
    'copy':''
  },
  {
    'src':'https://source.unsplash.com/1600x900/?cryptocurrencies,money,Electronic', 
    'title':'FinCEN and State Money Transmitter Regulations.',
    'copy':''
  },
  {
    'src':'https://source.unsplash.com/1600x900/?cryptocurrencies,crypto,gold', 
    'title':'The Intersection of Cryptocurrency',
    'copy':'This is a new day'
  },
  
];
let slides = [],
  captions = [];

let autoplay = setInterval(function(){
  nextSlide();
},5000);
let container = document.getElementById('container2');
let leftSlider = document.getElementById('left-col2');
// console.log(leftSlider);
let down_button = document.getElementById('down_button2');
// let caption = document.getElementById('slider-caption');
// let caption_heading = caption.querySelector('caption-heading');

down_button.addEventListener('click',function(e){
  e.preventDefault();
  clearInterval(autoplay);
  nextSlide();
  autoplay;
});

for (let i = 0; i< slide_data.length; i++){
  let slide = document.createElement('div'),
      caption = document.createElement('div'),
      slide_title = document.createElement('div');
    
  slide.classList.add('slide');
  slide.setAttribute('style','background:url('+slide_data[i].src+')');
  caption.classList.add('caption');
  slide_title.classList.add('caption-heading');
  slide_title.innerHTML = '<h1>'+slide_data[i].title+'</h1>';
  
  switch(i){
    case 0:
        slide.classList.add('current');
        caption.classList.add('current-caption');
        break;
    case 1:
        slide.classList.add('next');
        caption.classList.add('next-caption');
        break;
    case slide_data.length -1:
      slide.classList.add('previous');
      caption.classList.add('previous-caption');
      break;
    default:
       break;       
  }
  caption.appendChild(slide_title);
  caption.insertAdjacentHTML('beforeend','<div class="caption-subhead"><span>dolor sit amet, consectetur adipiscing elit. </span></div>');
  slides.push(slide);
  captions.push(caption);
  leftSlider.appendChild(slide);
  container.appendChild(caption);
}
// console.log(slides);

function nextSlide(){
  // caption.classList.add('offscreen');
  
  slides[0].classList.remove('current');
  slides[0].classList.add('previous','change');
  slides[1].classList.remove('next');
  slides[1].classList.add('current');
  slides[2].classList.add('next');
  let last = slides.length -1;
  slides[last].classList.remove('previous');
  
  captions[0].classList.remove('current-caption');
  captions[0].classList.add('previous-caption','change');
  captions[1].classList.remove('next-caption');
  captions[1].classList.add('current-caption');
  captions[2].classList.add('next-caption');
  let last_caption = captions.length -1;
  
  // console.log(last);
  captions[last].classList.remove('previous-caption');
  
  let placeholder = slides.shift();
  let captions_placeholder = captions.shift();
  slides.push(placeholder); 
  captions.push(captions_placeholder);
}

let heading = document.querySelector('.caption-heading');


// https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
function whichTransitionEvent(){
  var t,
      el = document.createElement("fakeelement");

  var transitions = {
    "transition"      : "transitionend",
    "OTransition"     : "oTransitionEnd",
    "MozTransition"   : "transitionend",
    "WebkitTransition": "webkitTransitionEnd"
  }

  for (t in transitions){
    if (el.style[t] !== undefined){
      return transitions[t];
    }
  }
}

var transitionEvent = whichTransitionEvent()
caption.addEventListener(transitionEvent, customFunction);

function customFunction(event) {
  caption.removeEventListener(transitionEvent, customFunction);
  console.log('animation ended');

  // Do something when the transition ends
}

    </script>
    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
     <script src="js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
     <script src="js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="js/main.js"></script>

 
</body>

</html>