<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="./css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="./css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="./css/Style.css">
</head>
<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Blooger</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items" id="navList">
                    <li class="nav-link">
                        <a href="index">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="about">About Us</a>
                    </li>
                    <li class="nav-link">
                        <a href="services">Service</a>
                    </li>
                    <li class="nav-link">
                        <a href="privacy">Privacy Policy</a>
                    </li>
                    <li class="nav-link">
                        <a href="contact">Contact Us</a>
                        <span id="loged" class=<%=name%>></span>
                    </li>
                    <li class="nav-link">
                        <!-- <a href="signup" class="updateUser">Signin/Login</a> -->
                    </li>
                
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"></a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"></a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                <a href="#"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->
    
                    
 <section class="specialprice">
     
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<h1 class="demo-title">Pricing</h1>

<div class="pricing-table">
    <div class="pricing-option">
        <i class="material-icons">question_answer</i>
        <h1>Brand Strategy</h1>
        <hr />
  <p>I craft a brand story and message that you can share with your audience, so you can stand out and become the most memorable expert in your field.</p>
        <hr />
        
        <div class="price">
            <div class="front">
                <span class="price">199 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button1">Pay</button>
    </div>
    
    <div class="pricing-option specialEl1">
        <i class="material-icons">my_location</i>
        <h1>Client Journey <br>Strategy</h1>
        <hr />
        <p>We clarify your client<br> journey from when they<br> first meet you to when they<br> buy from you, and design a<br> supersmooth client experience.<br></p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">399 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button2">Pay</button>

    </div>
    
    <div class="pricing-option">
        <i class="material-icons">front_hand</i>
        <h1>1-on-1 Squarespace Training</h1>
        <hr />
<p>I make sure you feel 100% in control over your website so (if you want) you can make updates yourself anytime you like.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">999 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button3">Pay</button>

    </div>
</div>
<div class="pricing-table">
    <div class="pricing-option">
        <i class="material-icons">create</i>
        <h1>Copywriting</h1>
        <hr />
        <p>I write all the words that go on your website so you don’t have to waste time staring at a blank screen. No dreaded reminder emails from me nudging you for your website content.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">199 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button4">Pay</button>
    </div>
    
    <div class="pricing-option specialEl2">
        <i class="material-icons ">auto_fix_high</i>
        <h1>Brand Kit Design</h1>
        <hr />
<p>I give your logo a refresh and select your brand fonts and colors. You’ll have a strong visual brand you can use everywhere online.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">399 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button5">Pay</button>
    </div>
    
    <div class="pricing-option">
        <i class="material-icons">web</i>
        <h1>Custom Squarespace Website</h1>
        <hr />
<p>I turn your vision into a beautiful, high-converting website that helps your ideal clients buy from you.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">999 <b>$</b></span>
            </div>
            <!-- {{!-- <div class="back">
                <a href="#" class="button">Purchase now</a>
            </div> --}} -->
        </div>
        <button id="rzp-button6">Pay</button>
        
    </div>
</div>
  
  </section>
    
    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" >
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" >
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <form class="form-element" method="POST" action="subscribe">
                    <input type="text" class="input-element" placeholder="Email" name="email" id="email" required>
                    <button class="btn form-btn">Subscribe</button>
                </form>
            </div>
            <div class="instagram" >
                <h2>Instagram</h2>
                <div class="flex-row">
                    <!-- <img src="./assets/instagram/thumb-card3.png" alt="insta1"> -->
                    <!-- <img src="./assets/instagram/thumb-card3.png" alt="insta1"> -->
                    <!-- <img src="./assets/instagram/thumb-card4.png" alt="insta2"> -->
                    <img src="./assets/instagram/insta1.jpg" alt="insta3">
                    <img src="./assets/instagram/insta2.jpg" alt="insta3">
                    <img src="./assets/instagram/insta3.jpg" alt="insta3">
                </div>
                <div class="flex-row">
                    <!-- <img src="./assets/instagram/thumb-card6.png" alt="insta4"> -->
                    <!-- <img src="./assets/instagram/thumb-card7.png" alt="insta5"> -->
                    <!-- <img src="./assets/instagram/thumb-card8.png" alt="insta6"> -->
                    <img src="./assets/instagram/insta4.jpg" alt="insta6">
                </div>
            </div>
            <div class="follow" >
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <a href="#"></a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"></a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                    <a href="#"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true"></i></span>
        </div>
    </footer>
    <!-- --------footer------------- -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    // signin -------------login-------
    const el = document.getElementById('loged');
    const list = document.getElementById('navList');
    let items = list.childNodes;
    let i;
    for (i = 0, size = items.length - 1; i < size - 1; i++) {
    }
    if (el.className === "sign") {
        items[i].innerHTML = "<a href='signup'>Signin/Login</a>";
    } else {
        items[i].innerHTML = "👤<%=user%> <span class='logged' onclick='logout()' style='padding:12px'><a href='#' style='color:black' >Logout</a></span>"
        items[i].classList.add('updatedParent');

    }

    function logout() {
        items[i].innerHTML = "<a href='signup'>Signin/Login</a>";
        items[i].classList.remove('updatedParent');
    }
//      SignUp---------------


var options = {
    "key": "rzp_test_gePcKtlYQWsRfg", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_HZXCsdFo0VCbGH", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
var rzp2 = new Razorpay(options);
rzp2.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
var rzp3 = new Razorpay(options);
rzp3.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
var rzp4 = new Razorpay(options);
rzp4.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
var rzp5 = new Razorpay(options);
rzp5.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
var rzp6 = new Razorpay(options);
rzp6.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
document.getElementById('rzp-button2').onclick = function(e){
    rzp2.open();
    e.preventDefault();
}
document.getElementById('rzp-button3').onclick = function(e){
    rzp3.open();
    e.preventDefault();
}
document.getElementById('rzp-button4').onclick = function(e){
    rzp4.open();
    e.preventDefault();
}
document.getElementById('rzp-button5').onclick = function(e){
    rzp5.open();
    e.preventDefault();
}
document.getElementById('rzp-button6').onclick = function(e){
    rzp6.open();
    e.preventDefault();
}
</script>


</body>
</html>